---
layout: default
---


<section class="site-intro grid-x cell align-center">
  <div class="cell grid-x medium-7 grid-padding-x align-center">
    <h1>flowstate</h1>
    <h2>Design better user flows by analyzing recognized products</h2>
    <p>Flowstate is a library of walkthrough teardowns & design patterns from the digital products all around us. Explore trends and gain insights from the industry as a whole.</p>
  </div>
  <div class="cell grid-x medium-7 grid-padding-x align-center intro-explore">
    <p>Explore Flows</p>
    <div class="tag-container grid-x cell align-center">
      {% assign random-flows = site.workflows | sample:3 %}
      {%- for flow in random-flows -%}
      <a href="{{flow.url | prepend: site.baseurl}}" class="cell shrink">
        <div class="tag">{{flow.title}}</div>
      </a>
      {%- endfor -%}
    </div>
  </div>
</section>

<section class="recently-added grid-x cell">
  <h2 class="cell">Recently Added Flows</h2>
  {% assign flow_order = site.workflows | sort: 'date' | reverse %}
  <div class="grid-x cell recently-added-item-wrapper mini-card-wrapper">
  {%- for flow in flow_order limit:6 -%}
    <a href="{{ flow.url| prepend: site.baseurl }}" class="grid-x cell small-12 medium-4">
      {% assign app = site.data.apps[flow.application] %}
      {% assign app-name = app.name | replace: ' ', '-' | replace: '.', '-' | downcase %}
      <!-- relates to #10 -->
      <div class="workflow-mini-card grid-x cell align-justify align-middle {{ app-name }}">
        <div class="cell auto grid-x align-middle">
          <div class="cell shrink">
            <img src="../img/icons/{{ app.icon }}" alt="Application icon for {{flow.application}}">
          </div>
          <div class="cell auto">
            <p class="title">{{flow.title}}</p>
          </div>
        </div>
        <div class="cell shrink icon-container">
          <i class="fa-solid fa-video"></i>
        </div>
      </div>
    </a>
  {%- endfor -%}
  </div>
</section>

<section class="explore-flow-type grid-x cell">
  <a class="header-link" href="{% link flow-types.md %}">
    <h2 class="grid-x cell">
      <span class="cell shrink">Explore Flow Types</span>
      <div class="cell shrink icon-wrapper">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </h2>
  </a>
  <div class="grid-x cell explore-flow-type-item-wrapper">
  {% for flow-type in site.flow-types %}
    {% if flow-type.featured == true %}
    <a href="{{flow-type.url}}" class="cell grid-x medium-4 flow-tile-link-wrapper">
      <div class="cell grid-x spacer">
        <div class="flow-tile cell grid-x">
          <div class="icon-container cell grid-x align-center align-middle">
            {{ flow-type.icon }}
          </div>
          <div class="text-section cell grid-x align-middle align-justify">
            <span class="cell auto name">{{ flow-type.name }}</span>
            {% assign flow-count-array = site.workflows | where:"flow-type", flow-type.name %}
            {% assign flow-count = flow-count-array | size %}
            <span class="cell shrink number-of">{{flow-count}} flows</span>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
  {%- endfor -%}
  </div>
</section>