<footer>
  <div class="grid-container">
    <!-- TODO add the suggestion banner -->
    <div class="grid-x align-center">
      {% include suggestion-banner.html %}
    </div>
    <div class=" grid-x footer-content align-justify">
      <div class="small-12 medium-shrink cell grid-x">
        {% capture location %}footer{% endcapture %}
        {% include flowstate-logo.svg %}
      </div>
      <div class="small-12 medium-shrink cell grid-x copyright-section">
        <p class="no-select copyright">copyright © {{ 'now' | date: "%Y" }}</p>
        <p class="created">created by {% include external-link.html link="https://rehanbutt.com" content="Rehan Butt" %}</p>
      </div>
    </div>
  </div>
</footer>
