<footer>
  <div class="grid-container">
    <div class="grid-x align-center">
      {% include suggestion-banner.html %}
    </div>
    <div class=" grid-x footer-content align-justify">
      <div class="small-12 medium-shrink cell grid-x align-center">
        <a href="{{ site.baseurl }}/">
          {% capture location %}footer{% endcapture %}
          {% include flowstate-logo.svg %}
        </a>
      </div>
      <div class="small-12 medium-shrink cell grid-x copyright-section align-center">
        <a class="rss-feed" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa-solid fa-square-rss"></i>RSS</a>
        <p class="no-select copyright">copyright © {{ 'now' | date: "%Y" }}</p>
        <p class="created">created by {% include external-link.html link="https://rehanbutt.com" content="Rehan Butt" %}</p>
      </div>
    </div>
  </div>
</footer>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5H6DLV1LZT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5H6DLV1LZT');
</script>
