
{%- include announcement.html -%}

<header>

  <div class="grid-container grid-x align-justify align-center">

    <div class="logo-container cell small-12 medium-shrink">
      <a href="{{ site.baseurl }}/">
        {% capture location %}header{% endcapture %}
        {% include flowstate-logo.svg %}
      </a>
    </div>

    <nav class="site-nav cell small-12 medium-shrink">
      <a class="page-link" href="/">Home</a>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
