<div class="suggestion-banner grid-x cell medium-9 align-middle">
  <div class="cell small-12 medium-auto text-section">
    <p>Have a suggestion for a workflow I should add?</p>
    <p>I'd love to hear it! Send me a tweet and I'd be happy to add it to the collection.</p>
  </div>
  <div class="cell medium-shrink small-12">
    <a href="https://twitter.com/intent/tweet?text=%40naher94%20Here%20is%20my%20workflow%20suggestion:&url={{site.url}}" target="_blank" rel="noopener" class="share-item twitter">
      Tweet Me<i class="fab fa-twitter"></i>
      <span class="visually-hidden">Opens a new window</span>
    </a>
  </div>
</div>