.about{
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  h1{
    font-weight: $lato-black;
  }
  p{
    font-size: 1.5em;
  }
  .note{
    font-style: italic;
    font-weight: $lato-light;
  }
}