@mixin mini-card($main-color,$elevation){
  padding: 0.5rem;
  background-color: rgba($main-color,0.2); //TODO change this color thing
  @media (prefers-color-scheme: dark){
    // background-color: rgba($main-color,0.5); //TODO dark mode this
  }
  border-radius: 16px;
  border-bottom: 0 solid $main-color; //TODO dark mode this
  transition: all 0.20s ease-in-out;
  margin-top: $elevation;
  &:hover, &:focus{
    transform: translateY(-$elevation);
    border-bottom: $elevation solid $main-color; //TODO dark mode this
    cursor: pointer;
    transition: all 0.20s ease-in-out;
    margin-top: 0;
  }
  &:active{
    background-color: rgba($main-color,0.3); //TODO dark mode this
    border-bottom: 0 solid $main-color; //TODO dark mode this
    transform: translateY(0);
  }
}

@mixin pill-tag($main-color) {
  $main-dark: darken($main-color, 20);
  padding: 0.35em 1em;
  font-weight: $lato-bold;
  background-color: $main-color;
  border-radius: $pill-radius;
  border-bottom: 0 solid $main-color;
  transition: all 0.20s ease-in-out;
  color: $pure-white;
  &:hover, &:focus{
    transform: translateY(-$elevation);
    box-shadow: 0 1px 0 $main-dark,0 3px 0 -1px $main-dark,0 5px 0 -2px $main-dark,0 7px 0 -3px $main-dark,0 9px 0 -5px $main-dark,0 11px 0 -6px $main-dark;
    cursor: pointer;
    transition: all 0.20s ease-in-out;
    background-color: darken($main-color, 10);
  }
  &:active{
    background-color: rgba($main-color,1);
    box-shadow: 0 0 0 $main-color,0 0 0 0 $main-color,0 0 0 0 $main-color,0 0 0 0 $main-color,0 0 0 0 $main-color,0 0 0 0 $main-color;
    transform: translateY(0);
  }
}

body{
  background-color: semantic-color(body-bg);
}

h1{
  font-family: $lato;
}

h2{
  font-family: $lato;
  font-weight: $lato-bold;
  font-style: italic;
  font-size: 1.5rem;
}

section{
  .mini-card-wrapper{
    &>.cell{
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }
  a{
    color: semantic-color(text);
    text-decoration: none;
    .workflow-mini-card{
      @include mini-card($brand-pink,$elevation);
      &.agenda{
        @include mini-card($agenda-brand-color,$elevation);
      }
      &.apple-news{
        @include mini-card($apple-news-brand-color,$elevation);
      }
      &.apple-store{
        @include mini-card($apple-store-brand-color,$elevation);
      }
      &.target{
        @include mini-card($target-brand-color,$elevation);
      }
      &.bandh{
        @include mini-card($bandh-brand-color,$elevation);
      }
      &.google-fonts{
        @include mini-card($google-fonts-brand-color,$elevation);
      }
      &.millies-ice-cream{
        @include mini-card($millies-brand-color,$elevation);
      }
      &.loom{
        @include mini-card($loom-brand-color,$elevation);
      }
      &.soundcloud{
        @include mini-card($soundcloud-brand-color,$elevation);
      }
      &.hulu{
        @include mini-card($hulu-brand-color,$elevation);
      }
      &.apple-music{
        @include mini-card($apple-music-brand-color,$elevation);
      }
      &.design-gifts{
        @include mini-card($design-gifts-brand-color,$elevation);
      }
      &.superlist{
        @include mini-card($superlist-brand-color,$elevation);
      }
      &.railway{
        @include mini-card($railway-brand-color,$elevation);
      }
      &.denada{
        @include mini-card($denada-brand-color,$elevation);
      }
      &.annajona{
        @include mini-card($annajona-brand-color,$elevation);
      }
      &.read-cv{
        @include mini-card($read-cv-brand-color,$elevation);
      }
      &.bobby{
        @include mini-card($bobby-brand-color,$elevation);
      }
      &.bento{
        @include mini-card($bento-brand-color,$elevation);
      }
      &.bezel{
        @include mini-card($bezel-brand-color,$elevation);
      }
      &.instagram{
        @include mini-card($instagram-brand-color,$elevation);
      }
      &.qatar{
        @include mini-card($qatar-brand-color,$elevation);
      }
      &.my-disney-experience{
        @include mini-card($my-disney-experience-brand-color,$elevation);
      }
      &.steve-jobs-archive{
        @include mini-card($steve-jobs-archive-brand-color, $elevation);
      }
      &.disney-animation{
        @include mini-card($disney-animation-brand-color, $elevation);
      }
      &.duolingo{
        @include mini-card($duolingo-brand-color, $elevation);
      }
      &.vercel{
        @include mini-card($vercel-brand-color, $elevation);
      }
      &.stripe{
        @include mini-card($stripe-brand-color, $elevation);
      }
      &.hbomax{
        @include mini-card($hbomax-brand-color, $elevation);
      }
      &.max{
        @include mini-card($max-brand-color, $elevation);
      }
      &.apollo{
        @include mini-card($apollo-brand-color, $elevation);
      }
      &.tweetbot{
        @include mini-card($tweetbot-brand-color, $elevation);
      }
      &.github{
        @include mini-card($github-brand-color, $elevation);
      }
      &.youtube{
        @include mini-card($youtube-brand-color, $elevation);
      }
      &.shopify{
        @include mini-card($shopify-brand-color, $elevation);
      }
      &.figma{
        @include mini-card($figma-brand-color, $elevation);
      }
      &.mobbin{
        @include mini-card($mobbin-brand-color, $elevation);
      }
      &.product-hunt{
        @include mini-card($product-hunt-brand-color, $elevation);
      }
      &.alternativeto{
        @include mini-card($alternativeto-brand-color, $elevation);
      }
      &.are-na{
        @include mini-card($are-na-brand-color, $elevation);
      }
      // TODO add color override for each app
      img{
        border-radius: $tile-radius;
        height: 2.5rem;
      }
      .title{
        font-weight: $lato-bold;
        margin-bottom: 0;
        margin-inline-start: 0.5rem;
      }
      .icon-container{
        margin-inline-end: 0.5rem;
      }
    }
    &:hover,&:visited{
      color: semantic-color(text);
      text-decoration: none;
    }
  }
}

.explore-flow-type-item-wrapper{
  a{
    color: semantic-color(text);
    h2{
      font-family: $lato;
      font-weight: $lato-bold;
      font-style: italic;
      font-size: 1.5rem;
      i{
        font-size: 1.25rem;
        margin-left: 0.5rem;
      }
    }
  }

  a.flow-tile-link-wrapper{
    &:hover{
      text-decoration: none;
    }
  }
  .flow-tile{
    box-shadow: 0 0 0 0rem $brand-pink;
    transition: all 0.4s;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 16px;
    background-position: center;
    background-size: 100%;
    &:hover {
      box-shadow: 0 0 0 0rem $brand-pink, 0 0 0 0.5rem rgba($brand-pink, 0.16);
      @media (prefers-color-scheme: dark){
        box-shadow: 0 0 0 0rem $brand-pink, 0 0 0 0.5rem rgba($brand-pink, 0.50);
      }
      transform: scale(0.9);
    }
    .icon-container{
      background-color: semantic-color(flow-tile-bg);
      width: 100%;
      aspect-ratio: 5/3;
      border-radius: 10px;
    }
    .text-section{
      margin-block-start: 0.5rem;
      padding: 0 0.25rem;
      .name{
        font-weight: $lato-bold;
        text-transform: capitalize;
      }
      .number-of{
        font-weight: $lato-light;
        font-style: italic;
      }
    }
  }
}

.announcement-banner{
  background-color: semantic-color(announcement-banner);
  text-align: center;
  padding: 0.75rem 0.5rem;
  font-style: italic;
  p{
    margin-bottom: 0;
  }
}