footer{
  background-color: semantic-color(footer-bg);
  margin-block-start: 7rem;
  padding-block-end: 3rem;
  .footer-content{
    p{
      padding-bottom: 0;
    }
    #flowstate-logo-footer{
      height: 2rem;
      g{
        path{
          fill: semantic-color(logo-footer-fill);
        }
      }
    }
    .copyright-section{
      .copyright{
        margin-inline-end: 1em;
      }
      .rss-feed{
        color: semantic-color(text);
        text-decoration: underline;
        text-underline-offset: 0.15em;
        margin-inline-end: 1em;
        line-height: 1.6;
        i{
          margin-inline-end: 0.25em;
        }
      }
      .created{
        a{
          color: semantic-color(text);
          text-decoration: underline;
          text-underline-offset: 0.15em;
        }
      }
      @include breakpoint(small only){
        margin-block-start: 1rem;
      }
    }
  }
  .suggestion-banner{
    background-color: semantic-color(suggestion-banner-bg);
    padding: 1rem;
    border-radius: $tile-radius-medium;
    margin-block-start: -3rem;
    margin-block-end: 4rem;
    .text-section{
      p{
        margin-bottom: 0;
        line-height: normal;
        &:first-of-type{
          font-weight: $lato-bold;
          font-size: 1.75rem;
          margin-block-end: 0.25rem;
        }
        &:last-of-type{
          font-size: 1.25rem;
        }
      }
    }
    .twitter{
      background-color: $twitter-blue;
      border-radius: $tile-radius;
      color: $pure-white;
      padding: 1rem;
      font-weight: $lato-bold;
      transition: $sprint;
      display: inline-block;
      i{
        margin-inline-start: 0.5em;
      }
      &:hover{
        text-decoration: none;
        background-color: $twitter-blue-dark;
      }
      @include breakpoint(small only){
        width: 100%;
        text-align: center;
        margin-block-start: 1rem;
      }
    }
  }
}