header{
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  @include breakpoint(small only){
    padding-block-end: 1rem;
  }
  .logo-container{
    #flowstate-logo-header{
      height: 3rem;
      @media (prefers-color-scheme: dark){
        g{
          g{
            fill: $pure-white;
          }
        }
      }
    }
    @include breakpoint(small only){
      text-align: center;
    }
  }
  .site-nav{
    .page-link{
      color: semantic-color(text);
      padding: 0.6rem 1rem;
      border-radius: $tile-radius;
      transition: $sprint;
      &:hover{
        background-color: semantic-color(nav-page-link-bg);
        text-decoration: none;
      }
    }
    @include breakpoint(small only){
      display: none;
    }
  }
}