header{
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  @include breakpoint(small only){
    padding-block-end: 1rem;
  }
  .logo-container{
    #flowstate-logo-header{
      height: 3rem;
    }
    @include breakpoint(small only){
      text-align: center;
    }
  }
  .site-nav{
    .page-link{
      padding: 0.6rem 1rem;
      border-radius: $tile-radius;
      transition: $sprint;
      &:hover{
        background-color: $brand-pink-light; //TODO semantic color
        text-decoration: none;
      }
    }
    @include breakpoint(small only){
      display: none;
    }
  }
}