//******* Variables

//Numbers
$tile-radius: 10px;
$tile-radius-medium: 20px;
$tile-radius-big: 30px;
$pill-radius: 500px;

$elevation: 0.3em;

// Colors
$pure-white: #ffffff;
$pure-black: #000000;

////Brand Colors
$twitter-blue: #1DA1F2;
$twitter-blue-light: #D2ECFC;
$twitter-blue-dark: #0E8FD5;

$agenda-brand-color: #FFAA01;
$apple-news-brand-color: #f84969;
$apple-store-brand-color: #00BBE0;
$target-brand-color: #CC0000;
$bandh-brand-color: #C13731;
$google-fonts-brand-color: #1a73e8;
$millies-brand-color: #ef4b81;
$loom-brand-color: #565add;
$soundcloud-brand-color: #f50;
$hulu-brand-color: #1ce783;
$apple-music-brand-color: #fc3c44;
$design-gifts-brand-color: #14254f;
$superlist-brand-color: #e75c45;
$railway-brand-color: #9D1CDD;
$denada-brand-color: #E35205;
$annajona-brand-color: #FC1940;
$read-cv-brand-color: #484848;
$bobby-brand-color: #e56002;
$bento-brand-color: #768CFF;
$bezel-brand-color: #CEF23F;
$instagram-brand-color: #FF0069;
$qatar-brand-color: #5c0931;
$my-disney-experience-brand-color: #072465;
$steve-jobs-archive-brand-color: #000000;
$disney-animation-brand-color: #f3783b;
$duolingo-brand-color: #78C800;
$vercel-brand-color: #000000;
$stripe-brand-color: #635BFF;
$hbomax-brand-color: #5822b4;
$max-brand-color: #003EF9;
$apollo-brand-color: #4C82FF;
$tweetbot-brand-color: #0070DA;
$github-brand-color: #582e89;

$brand-pink: #D12E6A;
$brand-pink-light: #FAEAF0;
$brand-pink-dark: #742342;
$brand-light-grey: #F0F1F2;
$brand-dark-grey: #242629;

$light-grey: #F3F3F3;

//Semantic colors maps the color palette above to their use across the application
//// This method allows for several flavors of a color to be added such as a dark mode or a high contrast for example
$semantic-colors:(
  light:(
    body-bg: $pure-white,
    text: $pure-black,
    text-accent: $brand-pink,
    footer-bg: $light-grey,
    suggestion-banner-bg: $twitter-blue-light,
    announcement-banner: $brand-light-grey,
    flow-tile-bg: $brand-light-grey,
    nav-page-link-bg: $brand-pink-light,
    link-button-bg: $brand-light-grey,
    logo-footer-fill: $pure-black,
  ),
  dark:(
    body-bg: #181A1B,
    text: $pure-white,
    text-accent: $brand-pink,
    footer-bg: $brand-dark-grey,
    suggestion-banner-bg: #063E60,
    announcement-banner: $brand-dark-grey,
    flow-tile-bg: #3B4044,
    nav-page-link-bg: $brand-pink-dark,
    link-button-bg: $brand-dark-grey,
    logo-footer-fill: $pure-white,
  ),
);

//Helper function to build CSS colors
@function compose-color($color-key) {
  @return '--color-#{$color-key}';
}

//Function to be called inline for color mapping
@function semantic-color($color-key) {
  @return (var(--color-#{$color-key}));
}

:root{
  @each $key, $value in map-get($semantic-colors, 'light') {
    #{compose-color($key)}: #{$value};
  }
  @media (prefers-color-scheme: dark) {
    @each $key, $value in map-get($semantic-colors, 'dark') {
      #{compose-color($key)}: #{$value};
    }
  }
}

//Typography

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900i,900&display=swap');
$lato: 'Lato', sans-serif;
$lato-thin: 100;
$lato-light: 300;
$lato-light-italic: 300i;
$lato-regular: 400;
$lato-bold: 700;
$lato-bold-italic: 700i;
$lato-black: 900;

// Animations
$sprint: all 0.20s ease-in-out;
$run: all 0.30s ease-in-out;
$jog: all 0.50s ease-in-out;