---
layout: default
---
<article class="post grid-x cell" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header grid-x cell align-middle">
    <div class="cell shrink icon-container">
      {% assign app = site.data.apps[page.application] %}
      <img src="../img/icons/{{ app.icon }}" alt="Application icon for {{page.application}}">
    </div>
    <div class="cell auto grid-x">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <div class="grid-x cell tag-container">
        <div class="tag cell shrink flow-type align-middle grid-x">
          {% assign flow-type = site.data.flow-type[page.flow-type] %}
          <!-- TODO center this icon -->
          <div class="cell shrink flow-type-icon">{{ flow-type.icon }}</div>
          <div class="cell shrink">{{ page.flow-type }}</div>
        </div>
        <div class="tag cell shrink">
          #{{ page.application }}
        </div>
        {%- for tag in page.tags -%}
          <div class="tag cell shrink">
            #{{ tag }}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="cell shrink">
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      </p>
    </div>
  </header>

  <div class="post-content cell" itemprop="articleBody">
    <!-- add a empty state as it takes time to load the iframe -->
    <div class="video-container">
      <iframe src="{{ page.video-link }}" width="100%" scrolling="no" frameborder="0"></iframe>
    </div>
    {{ content }}
  </div>

</article>
